{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Herb8therapy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo-header.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  {% include 'medicio/base/topbar.html' %}
  {% include 'medicio/base/header.html' %}

  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div id="hero-carousel-indicators"></div>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('{% static 'assets/img/foto.jpg' %}')">
          <div class="container">
            <h2><span>Pengobatan Tradisional Holistic</span></h2>
            <h2>TANPA OPERASI</h2>
            <p>
              Cara tepat dan aman pengobatan <strong>kanker, ginjal, komplikasi, diabetes, dan jantung, wasir</strong> tanpa operasi dan kemotherapy serta aman untuk <strong>liver, lambung, dan infeksi usus.</strong> Tanpa efek samping
              </p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>SEKILAS TENTANG KAMI</h2>
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'assets/img/sanusi.png' %}" class="img-fluid rounded pb-4" alt="">
            <img src="{% static 'assets/img/klinik.png' %}" class="img-fluid rounded" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h2>PENGOBATAN TRADISIONAL HOLISTIC</h2>
            <h2>TANPA OPERASI</h2>
            <h3>Dengan Kualitas Herbal Terstandar</h3>
            <h3>Diracik Oleh Pakar Herbal Extract Indonesia</h3>
            <p class="fst-italic">
              Jika Anda menderita kanker, saya memiliki pengetahuan yang mendalam tentang langkah-langkah yang perlu diambil. Dengan pengalaman dua puluh tahun dan ratusan kisah sukses, keberhasilan saya telah tercatat dalam banyak media. Selain itu, kemampuan unik dan sistem energik yang telah saya kembangkan selama bertahun-tahun juga dapat memberikan bantuan yang berarti bagi Anda.
            </p>
            <p>
              Menyeimbangkan peran tradisi dan modernisasi dalam pengobatan tradisional, kami menggabungkan unsur-unsur dari Arab, Indonesia, dan China. Kami membawa inovasi ke dalam Dunia Kesehatan Tradisional Indonesia yang sedang berkembang pesat, dengan pendekatan Herb8 Herbatherapy yang didasarkan pada ramuan herbal ekstrak standar. Pendekatan ini telah terbukti secara ilmiah dan empiris sebagai metode pengobatan yang aman dan efektif untuk berbagai penyakit seperti tumor, kanker, penyakit jantung, stroke, dan lainnya.
              </p>
             <p>
              Lebih lanjut, kami telah membuktikan bahwa metode ini melengkapi pengobatan barat dalam mengatasi berbagai komplikasi, dengan memberikan perawatan holistik yang nyaman dan tepat untuk kondisi akut tanpa perlu operasi atau kemoterapi. Khusus untuk penyakit kronis, baik yang sudah lama maupun yang baru, akan ditangani langsung oleh Bapak Tengku Sanusi Maulana dan Apoteker Imelda, S.Si., untuk memudahkan pemantauan perkembangan pasien sebelum dan setelah minum obat.
              </p>
              <p>
                Selama pasien berada dalam perawatan di Herb8, kami menyarankan untuk kontrol dua minggu sekali agar dapat memantau perkembangan pemulihan kondisi pasien secara teratur.
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>MENGAPA HARUS KAMI?</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4 class="title"><a href="">Terpercaya dan Berpengalaman</a></h4>
              <p class="description">Terpercaya dan berpengalaman mengobati penyakit rawan.</p>
              <ul>
                <li>Kanker</li>
                <li>Hepatitis / Liver</li>
                <li>Gagal ginjal</li>
                <li>Komplikasi Diabetes</li>
                <li>dll</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4 class="title"><a href="">Harga Terjangkau</a></h4>
              <p class="description">Berkomitmen untuk memberikan layanan berkualitas dengan harga terjangkau bagi pelanggan yang lebih memilih melakukan perawatan di Herb8 Herbatherapy</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-thermometer"></i></div>
              <h4 class="title"><a href="">Ditangani Oleh Ahli</a></h4>
              <p class="description">Khusus untuk penyakit kronis, baik yang sudah lama maupun yang baru, akan ditangani langsung oleh Bapak Tengku Sanusi Maulana dan Apoteker Imelda, S.Si. Hal ini bertujuan untuk memudahkan pemantauan perkembangan pasien sebelum dan setelah mengonsumsi obat.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="">100% Tradisional Alami</a></h4>
              <p class="description">Saya akan menyiapkan pengobatan yang sesuai dan tepat untuk anda dan mengirimkannya ke manapun anda berada. Sangat penting untuk ditekankan bahwa pengobatan ini bukan bersifat medis, ini murni pengobatan tradisional 100% alami</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Perbedaan Herbal Extract Terstandar dengan Herbal Tradisional (Jamu)</h2>
          <h4>Setelah Proses Pengendapan 30 Menit</h4>
        </div>
        <div class="row">
          <div class="col-md-3 justify-content-center align-items-center d-flex" data-aos="fade-right">
            <img src="{% static 'assets/img/gelas-1.png' %}" class="img-fluid rounded" style="height: 300px;" alt="">
          </div>
          <div class="col-md-3 pt-4 pt-lg-0 content justify-content-center align-items-center d-flex" data-aos="fade-left">
            <div>
              <h4 class="text-center">Herbal Extract Terstandar</h4>
              <p class="fst-italic description" style="text-align: center;">
                Tidak ber-ampas, mudah dan cepat diserap tubuh, juga menjamin kebersihan dan dosis yang terstandar
              </p> 
            </div>

          </div>
          <div class="col-md-3 justify-content-center align-items-center d-flexm" data-aos="fade-right">
            <img src="{% static 'assets/img/gelas-2.png' %}" class="img-fluid rounded" style="height: 300px;" alt="">
          </div>
          <div class="col-md-3 pt-4 pt-lg-0 content justify-content-center align-items-center d-flex" data-aos="fade-left">
            <div>
              <h4 class="text-center">Herbal Tradisional</h4>
              <p class="fst-italic description text-center">
                Mengandung ampas, berkemungkinan mengandung zat yang tidak diinginkan dan kosis kurang akurat
              </p> 
            </div>

          </div>
        </div>
      </div>
    </section>
    <section id="featured-services" class="featured-services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Apakah anda menderita masalah Onkologis?<br>Apakah tubuh anda sedang berjuang untuk pulih?</h2>
        </div>
        <div class="row">
          <div class="col-md-8 pt-4 pt-lg-0 content justify-content-center align-items-center d-flex" data-aos="fade-left">
            <div>
              <p class="fst-italic description pb-5" style="text-align: center;">
                Saya akan menyiapkan pengobatan yang sesuai dan tepat untuk anda dan mengirimkannya ke manapun anda berada. Sangat penting untuk ditekankan bahwa pengobatan ini bukan bersifat medis, ini murni pengobatan tradisional 100% alami.
              </p> 
            </div>
          </div>
          <div class="col-md-4 justify-content-center align-items-center d-flex" style="" data-aos="fade-right">
            <img src="{% static 'assets/img/kanker.jpg' %}" class="img-fluid rounded" style="height: 300px;border-radius: 50%;" alt="">
          </div>
        </div>
      </div>
    </section>
  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Keunggulan Herb8</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon rounded"><i class="fas fa-heartbeat"></i></div>
            <p class="description">Therapy pengobatan tanpa operasi untuk penyakit tumor dan kanker payudara, usus, lambung, hati, paru- paru, tumor di kepala dan leher, limfoma, dll.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon rounded"><i class="fas fa-pills"></i></div>
            <p class="description">Menggunakan Herbal Extract Granule Terstandar (saripati herbal pilihan) yang sangat ampuh. Cocok untuk mematikan sel tumor atau kanker.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon rounded"><i class="fas fa-hospital-user"></i></div>
            <p class="description">Herb8 Therapy menggunakan resep telah teruji secara Empiris dari turun temurun sejak Tahun 1950. Telah banyak pasien yang tertolong dengan izin Tuhan Yang Maha Esa.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon rounded"><i class="fas fa-dna"></i></div>
            <p class="description">Selama proses terapi pengobatan pasien selalu dipantau oleh pakar herbalis Tengku Sanusi Maulana dan Apoteker Imelda, S.Si untuk mengetahui perkembangan penyembuhan pasien sehingga proses terapi lebih maksimal.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon rounded"><i class="fas fa-wheelchair"></i></div>
            <p class="description">Obat extract herbal mudah digunakan bagi pasien, tidak berampas, tidak perlu direbus, extract larut sempurna.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon rounded"><i class="fas fa-notes-medical"></i></div>
            <p class="description">Dosis herbal extract tidak berubah-ubah, lebih akurat karena diproses dengan teknologi tinggi standar WHO dan GMP (Good Manufacturing Product).</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon rounded"><i class="fas fa-medkit"></i></div>
            <p class="description">Racikan atau modifikasi gabungan herbal mudah diserap oleh tubuh, maka tingkat terapi pemulihan lebih cepat.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon rounded"><i class="fas fa-stethoscope"></i></div>
            <p class="description">Aman dan higienis, tidak terkontaminasi dengan bahan baku beracun. Proses racikan extract herbal terstandar telah teruji dan aman tanpa terkontaminasi toksisitas.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery pt-5 section-bg">
      <div class="container pt-5" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-4.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-4.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-2.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-2.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-1.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-1.png' %}" class="img-fluid" alt=""></a></div>
  
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-3.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-3.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="{% static 'assets/img/gallery/gallery-5.jpg' %}"><img src="{% static 'assets/img/gallery/gallery-5.png' %}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
   
    <section id="contact" class="contact">
      <div class="container pt-3">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

      </div>
      <div class="container">

        <div class="row mt-0">

          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Alamat Kami</h3>
                  <p>Jl. Pulomas Timur K No. 49, Kayu Putih, Kec. Pulo Gadung, Daerah Khusus Ibukota Jakarta 13210</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email</h3>
                  <p>info@herb8terapi.com<br></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Whatsapp</h3>
                  <p>0812-8938-8938<br></p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'medicio/base/footer.html' %}

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>