{% load static %}
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Sekilas tentang kami </h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
              <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid rounded" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h2>PENGOBATAN TRADISIONAL HOLISTIC</h2>
              <h2>TANPA OPERASI</h2>
              <h3>Dengan Kualitas Herbal Terstandar</h3>
              <h3>Diracik Oleh Pakar Herbal Extract Indonesia</h3>



              <p class="fst-italic">
                Jika Anda menderita kanker, saya memiliki pengetahuan yang mendalam tentang langkah-langkah yang perlu diambil. Dengan pengalaman dua puluh tahun dan ratusan kisah sukses, keberhasilan saya telah tercatat dalam banyak media. Selain itu, kemampuan unik dan sistem energik yang telah saya kembangkan selama bertahun-tahun juga dapat memberikan bantuan yang berarti bagi Anda.
              </p>
              <!-- <ul>
                <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul> -->
              <!-- <p>
                Sejarah berdirinya HERB8 pada Tahun 2012 tepatnya di Jl. Balai Pustaka Timur Rawamangun yang sebelumnya bernama Secret Herbal Extract yang kami dirikan pada Tahun 2009 tepatnya di Bulak Raya, Klender Jakarta Timur.  Dengan visi dan misi yang kami kembangkan untuk memudahkan pengobatan bagi penderita penyakit ringan atau berat sehingga tingkat efektifitasnya lebih tinggi dan modern.
              </p> -->
              <p>
                Menyeimbangkan peran tradisi dan modernisasi dalam pengobatan tradisional, kami menggabungkan unsur-unsur dari Arab, Indonesia, dan China. Kami membawa inovasi ke dalam Dunia Kesehatan Tradisional Indonesia yang sedang berkembang pesat, dengan pendekatan Herb8 Herbatherapy yang didasarkan pada ramuan herbal ekstrak standar. Pendekatan ini telah terbukti secara ilmiah dan empiris sebagai metode pengobatan yang aman dan efektif untuk berbagai penyakit seperti tumor, kanker, penyakit jantung, stroke, dan lainnya.
                </p>
               <p>
                Lebih lanjut, kami telah membuktikan bahwa metode ini melengkapi pengobatan barat dalam mengatasi berbagai komplikasi, dengan memberikan perawatan holistik yang nyaman dan tepat untuk kondisi akut tanpa perlu operasi atau kemoterapi. Khusus untuk penyakit kronis, baik yang sudah lama maupun yang baru, akan ditangani langsung oleh Bapak Tengku Sanusi Maulana dan Apoteker Imelda, S.Si., untuk memudahkan pemantauan perkembangan pasien sebelum dan setelah minum obat.
                </p>
                <p>
                  Selama pasien berada dalam perawatan di Herb8, kami menyarankan untuk kontrol dua minggu sekali agar dapat memantau perkembangan pemulihan kondisi pasien secara teratur.
              </p>
            </div>
          </div>
  
        </div>
      </section>
      <!-- End About Us Section -->