{% load static %}
<footer id="footer">
    <div class="footer-top section-bg">
      <div class="container">
        <div class="row d-flex justify-content">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Herb8therapy</h3>
              <p>
                Jl. Pulomas Timur K No. 49, Kayu Putih,<br>
                Kec. Pulo Gadung,<br>
                Daerah Khusus Ibukota Jakarta 13210<br><br>
                <strong>Whatsapp:</strong> 0812-8938-8938<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Herb8therapy</h4>
            <p>Layanan pengobatan herbal</p>
            <a href="{% url 'registration' %}" class="appointment-btn" style="border-radius: 50px; margin: 0px;"><span class="d-none d-md-inline"></span>Registrasi</a>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Herb8therapy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- End Footer -->