{% load static %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="{% url 'index' %}" class="logo me-auto"><img src="{% static 'assets/img/herb8terapi_logo.png' %}" alt="" style="max-height: 70px;"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'index' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#about">Tentang Kami</a></li>
          <li><a class="nav-link scrollto" href="{% url 'index' %}#services">Layanan</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="{% url 'registration' %}" class="appointment-btn scrollto" style="border-radius: 50px;"><span class="d-none d-md-inline"></span>Registrasi</a>

    </div>
  </header>